Authlib==1.6.10
bcrypt==5.0.0
blinker==1.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
cryptography==46.0.7
Flask==3.1.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
duckduckgo-search
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.4
MarkupSafe==3.0.3
pycparser==3.0
python-dotenv==1.2.2
requests==2.33.1
urllib3==2.6.3
Werkzeug==3.1.8
gunicorn==23.0.0
